{
  "canBookmark" : false,
  "destinations" : [
    {
      "name" : "Research Center",
      "planetName" : "Researching Ancient Planets",
      "warpAction" : "UniqueWorld:researchcenter",
      "icon" : "outpost"
    },
    {
      "name" : "Outpost",
      "planetName" : "Survivors' Settlement",
      "warpAction" : "UniqueWorld:outpost",
      "icon" : "outpost"
    },
    {
      "name" : "Ark",
      "planetName" : "Mysterious Ruin",
      "warpAction" : "UniqueWorld:monolith",
      "icon" : "ark"
    }
  ],
  "includePlayerBookmarks" : false
}
